*{
  box-sizing: border-box;
}

header{
  width: 100vmax;
  height: 500px;
  position: relative;
}
.jpg1{
width: 100%;
height: 100%;
position: relative;
}
.blod{
  position: absolute;
  margin: -8vw 0 0 -13vw;
  z-index: 90;
  opacity: 0;
  transition: 0.5s;
  border-radius: 100px;
  width: 55%;
  height: 55%;
  filter: brightness(0);
  
}

/* REGISTR */


.reg{
  width: 90vw;
  height: 50vw;
  margin: 0 auto;
  transition: 0.4s;
  border-top: 1vw rgb(36, 36, 36) solid;
  border-left: none;
  border-bottom: none;
  border-right: none;
}
.inp{
  width: 20vw;
  height: 3vw;
  transition: 0.5s;
  background-image: url(katana11.jpg);
  background-size: cover;
  font-family: 'MasonChronicles';
  color: rgb(255, 255, 255);
  font-size: 1vw;
  border: none;
  border-radius: 1vw;
  float: left;
  margin: 0 0 0 4vw;
}
.inp:hover{
  border: 0.1vw rgba(255, 255, 255, 0.555) solid;
  border-radius: 0.1vw;
  box-shadow: 0 0 1vw rgba(255, 255, 255, 0.151);
}
.reg:hover{
  border-top: 0.2vw rgb(2, 2, 2) solid;
  box-shadow: 0 0 1vw rgb(59, 59, 59);
  
}

.txt2{
  font-family: 'DreamScar';
  color: rgb(0, 0, 0);
  font-size: 2vw;
  z-index: 90;
  float: left;
  margin: 0 0 0 4vw;
  -webkit-text-stroke: 0.04vw white;
  transition: 0.2s;
}
.txt2:hover{
  -webkit-text-stroke: 0.04vw rgb(255, 98, 98);
  font-size: 2.3vw;
  color: rgb(138, 27, 27);
  text-shadow: 0 0 1vw rgb(172, 42, 85);
}


/* REGISTR END*/



.fon{
  opacity: 0.8;
  width: 100%;
  height: 100%;
  transition: 0.9s;
  z-index: 99;
  border: 1px white solid;
}
.fon:hover{
  opacity: 1;
}
.txt1{
  font-family: 'DreamScar';
  color: aliceblue;
  font-size: 100%;
  position: absolute;
  text-align: center;
  z-index: 90;
}
.box1{
  position: absolute;
  margin-left: 24%;
  margin-top: 8vw;
  width: 50vw;
  height: 15vw;
  border: 1px wheat solid;
  font-family: 'DreamScar';
  color: aliceblue;
  font-size: 7vw;
  text-align: center;
  transition: 0.5s;
  z-index: 90;
}
.box1:hover{
  text-shadow: rgb(255, 0, 0) 0px 0vw 100px;
  font-size: 7.5vw;
  color: rgb(146, 23, 23);

}
.box1:hover .blod{
    position: absolute;
    opacity: 1;
    margin: -9vw 0 0 -13vw;
    filter: brightness(1);
}
.kngt{
  width: 27.5vw; height: 32vw;
  margin: 5% 0 5% 5%;
  border-bottom: 0.5px white solid;
  float: left;
  /* background-image: url(30.png); */
  /* background-size: contain;*/
}
.spce{
  width: 1vw;
  height: 10vw;
}
.box2{
  margin: 10% 0% 5% 5%;
  width: 80vw;
  height: 31vw;
  border: 1px wheat solid;
  background-color: rgb(10, 10, 10);
  box-shadow: 0 35px 80px rgb(255, 255, 255, 0.1);
  transition: 0.9s;
  position: relative;
  color: white;
  font-size: 1vw;
}
.box2:hover{
   height: 44vw;
   width: 92vw;
   box-shadow: 0 35px 100px rgb(255, 255, 255, 0.5);
   color: white;
   font-size: 2vmax;
}
.dialog{
  border: 1px rgba(255, 255, 255, 0.918) solid;
  float: left;
  position: relative;
  margin: 10vw 0 0 5vw;
  transition: 0.9s;
  color: aliceblue;
  white-space: pre-wrap;
  max-width: 40vw;
  font-family: 'MasonChronicles';
}
.btn{
  width: 10vw;
  height: 3vw;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  margin: 5vw 0 0 16.5vw;
  transition: 0.4s;
  background-color: none;
  font-family: 'MasonChronicles';
  color: white;
  font-size: 1.2vw;
  text-align: center;
  text-decoration: none;
  float: left;
}
.btn:hover{
  box-shadow: 0px 0px 80px rgb(255, 255, 255);
  background-color: white;
  color: black;
}



@font-face {
	font-family: 'DreamScar';
	src: url('./fonts/dreamscar.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/dreamscar.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/dreamscar.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/dreamscar.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/dreamscar.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/dreamscar.svg#dreamscar') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'MasonChronicles';
	src: url('./fonts/masonchronicles.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/masonchronicles.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/masonchronicles.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/masonchronicles.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/masonchronicles.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/masonchronicles.svg#masonchronicles') format('svg'); /* Chrome < 4, Legacy iOS */
}