*{
  box-sizing: border-box;
}

header{
  width: 100vmax;
  height: 500px;
  position: relative;
}
.jpg1{
width: 100%;
height: 100%;
position: relative;
}

/* NEW */
.png1{
  width: 98.3vw;
  height: 50vw;
  border: 1px solid white;
  z-index: 100;
  background-color: rgb(20, 20, 20);
  position: absolute;
}


/* SWORDS */


.txt1{
  font-family: 'MasonChronicles';
  color: aliceblue;
  font-size: 1vw;
  text-align: center;
  width: 80%;
  height: 40%;
  border: 1px solid rgb(102, 102, 102);
  margin: 5% 0 0 10%;
  white-space: space-wrap;
  transition: 0.3s;
}
.txt1:hover{
  border: 5px solid rgb(0, 0, 0);
  height: 45%;
}

.prod{
  height: 25vw;
  width: 20vw;
  border: 1px solid rgba(255, 255, 255, 0);
  float: left;
  position: relative;
  margin: 10vw 0 0 5vw;
  transition: 0.5s;
  font-family: 'MasonChronicles';
}
.prod:hover{
  border: 0.6vw solid #000000;
  box-shadow: 0vw 0vw 10vw rgb(0, 0, 0);
  font-family: 'MasonChronicles';
}


/* END SWORDS */


.fon{
  opacity: 0.8;
  width: 100%;
  height: 25vw;
  transition: 0.9s;
  z-index: 99;
  border: 1px white solid;
}
.fon:hover{
  opacity: 1;
}
.box1{
  position: absolute;
  margin-left: 28%;
  margin-top: 8vw;
  width: 40vw;
  height: 15vw;
  border: 1px rgba(245, 222, 179, 0) solid;
  font-family: 'DreamScar';
  color: aliceblue;
  font-size: 7vw;
  text-align: center;
  transition: 0.5s;
  z-index: 100;
}
.box1:hover{
  text-shadow: rgb(255, 255, 255) 10px 0vw 100px;
  font-size: 7.5vw;

}
.kngt{
  width: 27.5vw; height: 32vw;
  margin: 5% 0 5% 5%;
  border-bottom: 0.5px white solid;
  float: left;
  /* background-image: url(30.png); */
  /* background-size: contain;*/

}


/* GNOMIK */


.hit{
  width: 20vw;
  height: 30vw;
  border: 0.2vw solid rgba(124, 148, 255, 0);
  position: fixed;
  margin: 0vw 0 0 -35vw;
  transition: 0.4s;
  opacity: 0;
}

.herobox{
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 15vw; height: 12vw;
  margin: 0vw 0 0 1vw ;
  transition: 0.5s;
  border: 1px rgba(255, 141, 11, 0) solid;
  z-index: 100;
}
.hero{
  position: fixed;
  width: 15vw; height: 20vw;
  margin: 3vw 0 0 0vw ;
  transition: 0.3s;
  border: 1px rgba(255, 255, 255, 0) solid;
  z-index: 100;
}
.herobox:hover .hero{
  width: 18vw; height: 24vw;
  margin: -10vw 0 0 0vw ;
  filter: drop-shadow(0 0 0.8vw white);
}
.herobox:hover .hit{
  width: 88vw; height: 44vw;
  margin: -35vw 0 0 7vw ;
  filter: drop-shadow(0 0 0.8vw white);
  opacity: 1;
}
.jpg2{
  width: 30vw; height: 30vw; margin: 0 0 0 20vw;
  transition: 0.4s;
}
.jpg2:hover{
  width: 32vw; height: 32vw; margin: -2vw 0vw -1vw 19vw;
}
.txt2{
  font-family: 'MasonChronicles';
  color: aliceblue;
  font-size: 1vw;
  text-align: center;
  width: 60%;
  height: 20%;
  border: 1px solid rgb(255, 255, 255);
  margin: 1% 0 0 10%;
  white-space: space-wrap;
  transition: 0.3s;
}
.txt2:hover{
  border: 5px solid rgb(255, 255, 255);
  height: 45%;
  background-color: rgb(255, 255, 255);
  color: black;
}

/* END GNOMIK */


.spce{
  width: 20vw;
  height: 100vw;
  border: 1px white solid;
  position: relative;
  float: left;
  z-index: 99;
}
.spce2{
  width: 80vw;
  height: 10vw;
  position: relative;
  float: left;
  z-index: 99;
}
.box2{
  margin: 10% 0% 5% 5%;
  width: 80vw;
  height: 31vw;
  border: 1px wheat solid;
  background-color: rgb(10, 10, 10);
  box-shadow: 0 35px 80px rgb(255, 255, 255, 0.1);
  transition: 0.9s;
  position: relative;
  color: white;
  font-size: 1vw;
}
.box2:hover{
   height: 44vw;
   width: 92vw;
   box-shadow: 0 35px 100px rgb(255, 255, 255, 0.5);
   color: white;
   font-size: 2vmax;
}
.dialog{
  border: 1px rgba(255, 255, 255, 0.918) solid;
  float: left;
  position: relative;
  margin: 10vw 0 0 5vw;
  transition: 0.9s;
  color: aliceblue;
  white-space: pre-wrap;
  max-width: 40vw;
  font-family: 'MasonChronicles';
}
.btn{
  width: 10vw;
  height: 3vw;
  border-left: 3px solid rgb(206, 235, 255);
  border-right: 3px solid rgb(206, 235, 255);
  margin: 2vw 0 0 5.5vw;
  transition: 0.4s;
  background-color: none;
  font-family: 'MasonChronicles';
  color: rgb(211, 237, 255);
  font-size: 1.2vw;
  text-decoration: none;
  float: left;
  text-align: center;
  position: absolute;
  z-index: 100;
}
.btn:hover{
  box-shadow: 0px 0px 80px rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  border-left: 3px solid rgb(255, 255, 255);
  border-right: 3px solid rgb(255, 255, 255);
}



@font-face {
	font-family: 'DreamScar';
	src: url('./fonts/dreamscar.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/dreamscar.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/dreamscar.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/dreamscar.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/dreamscar.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/dreamscar.svg#dreamscar') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'MasonChronicles';
	src: url('./fonts/masonchronicles.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/masonchronicles.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/masonchronicles.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/masonchronicles.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/masonchronicles.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/masonchronicles.svg#masonchronicles') format('svg'); /* Chrome < 4, Legacy iOS */
}